body{margin:0;}
div.horSpace {
    height:5px;
    width:100%;
}
div.verSpace {
    width:5px;
    height:100%;
}

nav.directory{
    background-color: Navy;
    color:white;
    height:50px;
    width:100%;
    padding-top:10px;
    margin:0;
    display:flex;
}
a.logo:hover{
    background-color: steelblue;
}
a.nav {
    background-color: navy;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
    height: 50px;
    text-decoration: none;
    position: relative;
    top: -15px;
}
a.nav:hover {
    background-color: steelblue;
}

div.toolbar {
    float: left;
    width: 20%;
    height: 900px;
    background-color: blue;
    padding-top: 20px;
}

div.preview {
    text-align:center;
    float:left;
    width:80%;
    height:900px;
    background-color:lightblue;
    margin:0;
}

form.survey {
    background-color:white;
    width:90%;
    height:90%;
    border-radius:15px;
    margin:5%;
    margin-top:0;
    text-align:left;
    padding:15px;
}

div.slider {
    background-color:blue;
    width:100%;
    color: white;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    font-size:20px;
}
div.slider:hover{
    background-color:steelblue;
}

div.toolkit{
    display:none;
    width:100%;
    background-color:steelblue;
}

div.tool{
    height:25px;
    width:100%;
    text-align: center;
    padding-top: 5px;
}
div.tool:hover {
    background-color:cornflowerblue;
}

div.toolOptions {
    display:none;
    width:200px;
    background-color:Green;
    position: absolute;
    left:20%;
    padding:10px;
    border-radius:15px;
    margin-top:-50px;
}
.toolOptions::after{
    content:"";
    position:absolute;
    top:20px;
    left:-20px;
    margin-left: -10px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent green transparent transparent;
}

p.optionHeading {
    font-size:20px;
    text-align:center;
    padding:0;
    margin:0;
    text-decoration: underline;
    color:white;
}

.optionButton{
    width:49%;
    border: none;
    background-color: darkgreen;
    color:white;
    padding:5px;
}
.optionButton:hover{
    background-color: lightgreen;
}

.question {
    padding: 10px;
    background-color: aqua;
    text-align: center;
}
.i{
    font-size: 40px;
    display:none;
    color: green;
}
